@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  color: #EEE;
  text-align: center;
  padding: 5vw;
}

h1 {  
  letter-spacing: 0.7em;
  text-transform: uppercase;
  font-size: 1.35em;
}

h3 {  
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 0.85em;
}

p, ul, code {
  font-variant: all-small-caps;
  font-size: 0.95em;
}

p {
  margin-top: 5vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: dodgerblue;
}

form {
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type='text'] {
  width: 220px;
  text-align: center;
}

@media only screen and (max-width: 440px) {
  h1 {  
    letter-spacing: 0.25em;
    font-size: 0.75em;
  }

  h3 {  
    letter-spacing: 0.1em;
    font-size: 0.55em;
  }

  p, ul, code {
    font-size: 0.65em;
  }
}