<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>URL Shortener Microservice</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <main>
      <h1>URL Shortener Microservice</h1>
      
      <h3>Short URL Creation</h3>
      
      <h3>APIs and Microservices Projects for FCC</h3>

      <p>Example:</p>

      <ul>
        <li>
           POST [project_url]/api/shorturl - https://www.google.com 
        </li>
      </ul>

      <section>
        <form action="/api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.google.com/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>

      <p>Example Usage:</p>

      <ul>
        <li>
          <a href="/api/shorturl/_xbhS1xqP" target="_blank">[project_url]/api/shorturl/_xbhS1xqP</a>
        </li>
      </ul>

      <p>Will Redirect to:</p>

      <code>
        https://www.google.com
      </code>

    </main>
  </body>
</html>